#div_main {
  width: 200px;
  height: 400px;
  background-color: #ccc;
  display: inline-block;
  margin-left: 200px;
}

.block {
  background: red;
  width: 20px;
  height: 20px;
  float: left;
}

.cell {
  width: 20px;
  height: 20px;
  float: left;
}